<form
  [formGroup]="formArticle"
  (ngSubmit)="postReactiveFormArticle(formArticle)"
>
  <h3>Add a link</h3>
  <div style="margin: 10px 0">
    <label for="title">Title:</label>
    <input
      formControlName="title"
      required
      name="title"
      id="title"
      type="text"
      #newTitle
    />
  </div>
  <div style="margin: 10px 0">
    <label for="link">Link:</label>
    <input
      formControlName="link"
      required
      name="link"
      id="link"
      type="text"
      #newLink
    />
  </div>
  <button type="submit">Submit link</button>
  <!-- <button (click)="addArticle(newTitle, newLink)">Submit link</button> -->
</form>

<app-article
  *ngFor="let article of sortedArticles()"
  [article]="article"
  (articleToDelete)="deleteArticle($event)"
  (articleToUpdate)="updateArticle($event)"
>
</app-article>
